@charset "UTF-8";

@media print {
    main {
        width: 98vw;
        font-family: 'Courier New', Courier, monospace;
        box-shadow: none;
        border-radius: 0px;
        border: 1px solid black;
    }

    main h1 {
        color: black;
        text-shadow: none;
        font-size: 3em;
    }

    main p {
        line-height: 2em;
    }

    body::after {
        font-weight: bolder;
        content: 'Texto retirado do site: https://github.com/devwebstudent/treinamentos';
    }
}