@charset "UTF-8";

@media screen and (min-width: 1280px) {
    body {
        background-color: #0000ff80;
    }

    header {
        background-color: #3D3D66;
    }

    main {
        width: 800px;
    }

    main h1 {
        color: #0000ff;
    }
}