@charset "UTF-8";

@media screen and (min-width: 768px) {
    body {
        background-color: #ff000080;
    }

    header {
        background-color: #663D3D;
    }

    main {
        width: 80vw;
    }

    main h1 {
        color: #ff0000;
    }
}